body {
  font-family: "Open Sans", sans-serif;
}
.block-1 {
  background: linear-gradient(
    to bottom,
    #2f6b4f,
    #2f6b4f 929px,
    #fff 929px,
    #fff 1520px
  );
  padding: 0px 0px 100px 0px;
}
.header {
  padding: 24px 115px 0px 115px;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  &__logo-text {
    display: flex;
  }

  &__logo {
    width: 40px;
    cursor: pointer;
    transition: all 1s ease 0s;
    &:hover {
      img {
        width: 48px;
      }
    }
  }
  &__text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 49px;
    text-align: center;
    margin-left: 13px;
    transition: all 1s ease 0s;
    &:hover {
      color: #2a2c3d;
      border-radius: 20px;
      padding: 4px;
      text-shadow: #2a2c3d 2px 5px 3px;
    }
  }

  &__list {
    min-width: 638px;
    ul {
      display: flex;
      justify-content: space-between;
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      text-align: center;
      // color: #FFFFFF;
      li:hover {
        color: #2a2c3d;
        transition: all 0.5s ease 0s;
      }
    }
  }
}
.create {
  width: 999px;
  margin: 100px auto 0px auto;

  h1 {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    text-align: center;

    color: #ffffff;
  }
  &__text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
    opacity: 0.71;
    margin: 32px 0px 48px 0px;
  }
}
.bth {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  width: 220px;
  height: 73px;
  padding: 23px 32px;
  margin: 0px auto;
  transition: all 1s ease 0s;
  p {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #2a2c3d;
  }
  img {
    width: 24px;
    margin-left: 12px;
  }
  &:hover {
    background-color: #2a2c3d;
    border-radius: 25px;
    p {
      color: #fff;
    }
  }
}
.foto {
  margin: 76px auto 50px auto;
  width: 1210px;

  &__img {
    width: 1210px;
    height: 631px;
  }

  &__list {
    width: 1044px;
    margin: 50px auto;
    ul {
      display: flex;
      justify-content: space-between;
    }
    .h5 {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
      text-align: center;
      color: #2a2c3d;
      margin: 0px 0px 8px 0px;
      .p5 {
        font-family: "Open Sans";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */

        text-align: center;

        color: #2a2c3d;
      }
    }
  }
}
.need {
  background-color: #f9f9f9;
  padding: 60px 146px 54px 115px;
  &__title {
    width: 479px;
    margin: 60px 0px 40px 0px;
  }

  &__text-p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #2a2c3d;
    opacity: 0.71;
  }

  &__text-h {
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #2a2c3d;
  }

  &__blocks {
    display: grid;
    grid-template: repeat(2, auto) / repeat(3, auto);
    padding-left: 32px;
    gap: 54px 70px;
    margin: 0 auto;
    justify-content: space-between;
  }

  &__block {
    // border: 1px black solid;
    padding: 32px 24px;
    max-width: 289px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 2px 6px 24px rgba(42, 44, 61, 0.16);
    transition: all 1s ease 0s;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__block-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #2a2c3d;
    margin: 20.5px 0px 16px 0px;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #2a2c3d;
    opacity: 0.71;
  }
}
.project {
  padding: 100px 145px 94px 115px;

  &__title {
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      color: #2a2c3d;
      opacity: 0.71;
    }
    h4 {
      font-style: normal;
      font-weight: 600;
      font-size: 36px;
      line-height: 49px;
      color: #2a2c3d;
      margin: 4px 0px 40px 0px;
    }
  }

  &__bloks {
    display: flex;
  }

  &__block {
    max-width: 360px;
    margin-right: 50px;
  }
  &__block-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #2a2c3d;
    margin: 16px 0px 8px 0px;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    /* or 150% */

    /* Black */

    color: #2a2c3d;

    opacity: 0.71;
  }
}

.about {
  &__bloks {
    display: flex;
    justify-content: space-between;
  }

  &__block {
    border: 2px black solid;
    padding: 24px;
    max-width: 367px;
  }

  &__title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #2a2c3d;
  }

  &__text {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2a2c3d;
    opacity: 0.71;
    margin: 8px 0px 21px 0px;
  }

  &__logo-text {
    display: flex;
  }

  &__logo-text-title {
    height: 60px;
    margin-left: 17px;
  }

  &__logo-text-name {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #2a2c3d;
  }

  &__logo-text-ceo {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #2a2c3d;
    opacity: 0.71;
  }
}
.green-block {
  background-color: rgba(47, 107, 79, 1);
  padding: 60px 389px 60px 390px;

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #ffffff;
  }

  &__text {
    margin: 16px 0px 32px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #ffffff;
    opacity: 0.71;
  }
}
.footer {
  display: flex;
  padding: 130px 115px 64px 115px;
  margin: 0;
  justify-content: space-between;
}
.bubble {
  width: 400px;

  &__text {
    margin: 20px 0px 32px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2a2c3d;
    opacity: 0.71;
  }

  &__icon {
    img {
      margin-right: 24px;
    }
  }
}

.list-colum {
  display: flex;
  &__list {
    li {
      margin: 0px 0px 16px 0px;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      color: #2a2c3d;
      opacity: 0.71;
      &:first-child {
        color: black;
        font-weight: 700;
      }
    }
    ul {
      margin-right: 100px;
    }
  }
}
.container{
  width: 1519.2px;
}
body{
  min-width: 1519.2px;
}